.introduction {
    height: 110vh;
    width: 100vw;
    background: url(../../Media/bg-black.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-weight: 900;
}

.name-heading {
    color: #0bb893;
    font-size: 50px;
    padding-top: 20vh;
}

.one-liner {
    color: rgba(232, 228, 253, 0.959);
    padding-top: 62vh;
    font-size: 30px;
    margin-bottom: 25px;
}

.see-work-btn {
    height: 80px;
    width: 200px;
    margin: auto;
    background-color: rgb(82, 1, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 100px;
}

.see-work-btn:hover {
    background-color: rgb(137, 204, 2);
    color: black;
}