.contact {
    min-height: 40vh;
    background-color: rgb(20, 20, 20);
    color: white;
}

.contact-heading {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    font-weight: 900;
} 

.content {
    text-align: center;
    font-size: 1.5rem;
    padding: 2vh;
    line-height: 2;
}

.e-mail {
    text-decoration: none;
    color: rgb(54, 126, 241);
    font-weight: 900;
}

.coding-profiles {
    display: flex;
    flex-direction: column;
}

.coding-profiles h1 {
    text-align: center;
    padding: 2rem 1rem;
}

.coding-profiles a{
    text-decoration: none;
    /* color: black; */
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.6rem;
}


.geeksforgeeks {
    color: rgb(47, 148, 0);
}

.hackerrank {
    color: rgb(0, 197, 10);
}

.github {
    color: rgb(192, 192, 192);
}

.leetcode {
    color: rgb(250, 121, 0);
}

.codechef {
    color: red;
}