@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    line-height: 1.6;
}

*::selection {
    background-color: rgb(214, 2, 2);
    color: white;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}